body {
    background-color: #97DECEff;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 15%;
    border-color: #C85C8E;
}

h1 {
    color: #C85C8E;
}

h2 {
    color: #C85C8E;
}

h3 {
    color: #C85C8E;
}